mkdocs
mkdocs-awesome-pages-plugin==2.10.0
mkdocs-git-revision-date-localized-plugin==1.3.0
mkdocs-material==9.6.7
mkdocs-redirects==1.2.2
mkdocs-static-i18n==1.3.0
babel==2.17.0
mkdocs-material[imaging]
mkdocs-macros-plugin
mkdocs-minify-plugin
mike
jieba
brotli
